<div class="categories-area section-padding40 gray-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="cat-icon">
                        <img src="{{ ('assets/img/icon/services1.svg') }}" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5> Livraison rapide et sécurisé </h5>
                        <p> Partout dans le monde </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="cat-icon">
                        <img src="{{ ('assets/img/icon/services2.svg') }}" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5> Moyen de paiments sécurisé </h5>
                        <p> Quelque soit votre pays </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="cat-icon">
                        <img src="{{asset('ssets/img/icon/services3.svg') }}" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5> Service client disponible 24h/24.</h5>
                        <p> 7 jours sur 7 </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                    <div class="cat-icon">
                        <img src="{{asset('assets/img/icon/services4.svg') }}" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5> Satisfait ou rembourser </h5>
                        <p> Sous 24 heures </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>