{% extends 'base.html.twig' %}

{% block title %}Bazar{% endblock %}

{% block body %}

<div class="new-arrival new-arrival2">
    <div class="row">
        {% include 'bazar/template_bazar.html.twig' %}
    </div>      
</div>

{% endblock %}
